@import "tailwindcss";

@keyframes blink-caret {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.animate-pulse-cursor {
    animation: blink-caret 0.7s infinite;
}

:root {
    --header-height: 64px;
    /* fallback */
}

/* every section will account for header height when scrolled to */
section {
    scroll-margin-top: calc(var(--header-height) + 12px);
}