@import "tailwindcss";

@keyframes blink-caret {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.animate-pulse-cursor {
    animation: blink-caret 0.7s infinite;
}